<!-- <tab-strip params="{ tabs: tabs }">
</tab-strip> -->

<!-- <div data-bind="visible: tabs[2].active">
  <div data-bind="html: markup"></div>
</div>

<div data-bind="visible: tabs[1].active">
  <div data-bind="text: markup"></div>
</div> -->

<!-- <div data-bind="visible: tabs[0].active"> -->
<div class="editor-container">
    <div class="title-bar">
        <input type="text" class="title-input" id="inputTitle" placeholder="Title" data-bind="textInput: file().title" />
    </div>
    <div class="canvas">
        <div id="editor">
        </div>
    </div>
</div>
<!-- </div> -->
