<div data-bind="attr: { id: id }">
    <nav class="navbar navbar-default">
        <div style="padding: 10px">
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Post to blog</h4>
        </div>
    </nav>
    <div class="modal-body">
        <div class="form">
            <div class="form-group">
                <label class="control-label">Select a blog</label>
                    <select class="form-control" data-bind="options: mySites,
                            optionsText: 'name',
                            optionsValue: 'ID',
                            value: selectedSiteId,
                            optionsCaption: 'Select a Site to post...'">
                    </select>
            </div>
            <div class="form-group">
                <label class="control-label">Select an article</label>
                <select class="form-control" data-bind="options: recentPostsInSelectedSite,
                        optionsText: 'title',
                        optionsValue: 'ID',
                        value: selectedPostId,
                        optionsCaption: 'Select a post to update...'">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">URL slug</label>
                <input class="form-control" type="text" data-bind="textInput: slug" />
            </div>
            <div class="form-group" style="display: none" data-bind="visible: categoryNodes().length > 0">
                <label class="control-label">Categories</label>
                <tree-view params="dataSource: categoryNodes"></tree-view>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: closePanel">Close</button>
        <button type="button" class="btn btn-primary" data-bind="click: publish">Publish</button>
    </div>
</div>
<!-- /.modal-content -->
