<div data-bind="attr: { id: id }">
    <nav class="navbar navbar-default">
        <div class="toolbar">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Post to blog</h4>
        </div>

    </nav>
    <div class="modal-body">
        <div class="form">
            <div class="form-group">
                <label class="control-label">Select a blog</label>
                    <select class="form-control" data-bind="options: mySites,
                            optionsText: 'name',
                            optionsValue: 'ID',
                            value: selectedSiteId">
                    </select>
            </div>
            <div class="form-group">
                <label class="control-label">Select an article</label>
                    <select class="form-control" data-bind="options: recentPostsInSelectedSite,
                            optionsText: 'title',
                            optionsValue: 'ID',
                            value: selectedPostId,
                            optionsCaption: 'Please select a post to update...'">
                    </select>
            </div>
            <div class="form-group">
                <label class="control-label">Post title</label>
                    <input class="form-control" type="text" data-bind="textInput: eeJsonVm().title" />
            </div>
            <div class="form-group">
                <label class="control-label">URL slug</label>
                <input class="form-control" type="text" data-bind="textInput: slug" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bind="click: publish">Publish</button>
    </div>
</div>
<!-- /.modal-content -->
