.editor-h
{
    .canvas
    {
        background-color: rgb(40,42,50);
        color: #fefefe;
        border: 1px solid #000000;
        position:absolute;
        width: auto;
        height: auto;
        top: 100px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .title-bar
    {
        top: 50px;
        left: 0px;
    }
    .editor-toolbar
    {
        padding-top:5px;
    }
}

.editor
{
    margin-bottom: 50px;
    .canvas
    {
        background-color: #fefefe;
        color: rgb(40,42,50);;
        border: 1px solid #EFEFEF;
        position:absolute;
        width: auto;
        height: auto;
        top: 100px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .title-bar
    {
        position:absolute;
        width: auto;
        height: auto;
        top: 50px;
        left: 0px;
        right: 0px;
        .title-input
        {
            height: 50px;
            width: 100%;
            padding-left: 10px;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid #000;
        }
    }
    .editor-toolbar
    {
        padding-top:5px;
    }
}
